@import "tailwindcss";

@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.news-card-container {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}